<a href="https://colab.research.google.com/github/TanviKhare/NT_TEAM_2/blob/main/Data_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
# import libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math
import seaborn as sns

In [25]:
# import data for filteration
df1 = pd.read_csv("/content/drive/MyDrive/NT/Currency_Conversion_Test_Data/Exchange_Rate_Report_2012.csv")
df2 = pd.read_csv("/content/drive/MyDrive/NT/Currency_Conversion_Test_Data/Exchange_Rate_Report_2013.csv")
df3 = pd.read_csv("/content/drive/MyDrive/NT/Currency_Conversion_Test_Data/Exchange_Rate_Report_2014.csv")
df4 = pd.read_csv("/content/drive/MyDrive/NT/Currency_Conversion_Test_Data/Exchange_Rate_Report_2015.csv")
df5 = pd.read_csv("/content/drive/MyDrive/NT/Currency_Conversion_Test_Data/Exchange_Rate_Report_2016.csv")
df6 = pd.read_csv("/content/drive/MyDrive/NT/Currency_Conversion_Test_Data/Exchange_Rate_Report_2017.csv")
df7 = pd.read_csv("/content/drive/MyDrive/NT/Currency_Conversion_Test_Data/Exchange_Rate_Report_2018.csv")
df8 = pd.read_csv("/content/drive/MyDrive/NT/Currency_Conversion_Test_Data/Exchange_Rate_Report_2019.csv")
df9 = pd.read_csv("/content/drive/MyDrive/NT/Currency_Conversion_Test_Data/Exchange_Rate_Report_2020.csv")
df10 = pd.read_csv("/content/drive/MyDrive/NT/Currency_Conversion_Test_Data/Exchange_Rate_Report_2021.csv")
df11 = pd.read_csv("/content/drive/MyDrive/NT/Currency_Conversion_Test_Data/Exchange_Rate_Report_2022.csv")

In [26]:
fc1 = df1.pop("Date")
fc2 = df2.pop("Date")
fc3 = df3.pop("Date")
fc4 = df4.pop("Date")
fc5 = df5.pop("Date")
fc6 = df6.pop("Date")
fc7 = df7.pop("Date")
fc8 = df8.pop("Date")
fc9 = df9.pop("Date")
fc10 = df10.pop("Date")
fc11 = df11.pop("Date")

In [27]:
df1 = df1.reindex(sorted(df1.columns), axis=1)
df2 = df2.reindex(sorted(df2.columns), axis=1)
df3 = df3.reindex(sorted(df3.columns), axis=1)
df4 = df4.reindex(sorted(df4.columns), axis=1)
df5 = df5.reindex(sorted(df5.columns), axis=1)
df6 = df6.reindex(sorted(df6.columns), axis=1)
df7 = df7.reindex(sorted(df7.columns), axis=1)
df8 = df8.reindex(sorted(df8.columns), axis=1)
df9 = df9.reindex(sorted(df9.columns), axis=1)
df10 = df10.reindex(sorted(df10.columns), axis=1)
df11 = df11.reindex(sorted(df11.columns), axis=1)

In [28]:
df1.insert(0, 'Date', fc1)
df2.insert(0, 'Date', fc2)
df3.insert(0, 'Date', fc3)
df4.insert(0, 'Date', fc4)
df5.insert(0, 'Date', fc5)
df6.insert(0, 'Date', fc6)
df7.insert(0, 'Date', fc7)
df8.insert(0, 'Date', fc8)
df9.insert(0, 'Date', fc9)
df10.insert(0, 'Date', fc10)
df11.insert(0, 'Date', fc11)

In [29]:
frames = [df1, df2, df3,df4,df5,df6,df7,df8,df9,df10,df11]
dt = pd.concat(frames)

In [30]:
dt.head(10)

,Date,Algerian dinar (DZD),Australian dollar (AUD),Bahrain dinar (BHD),Bolivar Fuerte (VEF),Botswana pula (BWP),Brazilian real (BRL),Brunei dollar (BND),Canadian dollar (CAD),Chilean peso (CLP),...,Swedish krona (SEK),Swiss franc (CHF),Thai baht (THB),Trinidadian dollar (TTD),Tunisian dinar (TND),U.A.E. dirham (AED),U.K. pound (GBP),U.S. dollar (USD),Uruguayan peso (UYU),Bolivar Soberano (VES)
0,3-Jan-12,NaN,0.971440,0.376,NaN,NaN,1.8485,1.2925,1.0090,518.20,...,NaN,0.9334,NaN,NaN,1.4987,3.6725,0.640574,1,19.700,NaN
1,4-Jan-12,NaN,0.965904,0.376,4.2893,7.490637,1.8304,1.2874,1.0135,514.34,...,6.8152,0.9384,31.463,6.4062,1.4942,3.6725,0.641190,1,19.689,NaN
2,5-Jan-12,NaN,0.968711,0.376,4.2893,7.530120,1.8432,1.2883,1.0197,512.23,...,6.8493,0.9492,31.557,6.3886,1.4951,3.6725,0.644330,1,19.707,NaN
3,6-Jan-12,76.3243,0.978378,0.376,4.2893,7.530120,1.8416,1.2923,1.0232,511.80,...,NaN,0.9516,31.637,6.3994,1.5046,3.6725,0.645245,1,NaN,NaN
4,9-Jan-12,76.5183,0.983284,0.376,4.2893,7.530120,1.8442,1.2994,1.0272,509.54,...,6.9227,0.9520,31.793,6.3931,1.5145,3.6725,0.647585,1,19.650,NaN
5,10-Jan-12,76.3955,0.969838,0.376,4.2893,7.485030,1.8442,1.2912,1.0164,512.40,...,6.9122,0.9498,31.708,6.3881,1.5197,3.6725,0.646747,1,19.593,NaN
6,11-Jan-12,76.6448,0.972384,0.376,4.2893,7.524454,1.8042,1.2925,1.0192,508.76,...,6.8987,0.9549,31.730,6.4038,1.5169,3.6725,0.649899,1,19.562,NaN
7,12-Jan-12,76.4878,0.971251,0.376,4.2893,7.473842,1.8048,1.2928,1.0198,506.91,...,6.9391,0.9488,31.833,6.4188,1.5242,3.6725,0.651423,1,19.587,NaN
8,13-Jan-12,76.4950,0.968992,0.376,4.2893,7.473842,1.7874,1.2882,1.0245,501.47,...,6.9137,0.9467,31.775,6.4233,1.5274,3.6725,0.652401,1,19.600,NaN
9,17-Jan-12,76.6668,0.963670,0.376,4.2893,7.462687,1.7836,1.2862,1.0132,500.99,...,6.9329,0.9470,31.834,6.3729,1.5333,3.6725,0.650533,1,NaN,NaN

In [31]:
dt.shape

(2648, 53)

In [32]:
print(len(dt.columns))

53

In [33]:
dt.columns

Index(['Date', 'Algerian dinar   (DZD)                     ',
       'Australian dollar   (AUD)                     ',
       'Bahrain dinar   (BHD)                     ',
       'Bolivar Fuerte   (VEF)                     ',
       'Botswana pula   (BWP)                     ',
       'Brazilian real   (BRL)                     ',
       'Brunei dollar   (BND)                     ',
       'Canadian dollar   (CAD)                     ',
       'Chilean peso   (CLP)                     ',
       'Chinese yuan   (CNY)                     ',
       'Colombian peso   (COP)                     ',
       'Czech koruna   (CZK)                     ',
       'Danish krone   (DKK)                     ',
       'Euro   (EUR)                     ',
       'Hungarian forint   (HUF)                     ',
       'Icelandic krona   (ISK)                     ',
       'Indian rupee   (INR)                     ',
       'Indonesian rupiah   (IDR)                     ',
       'Iranian rial   (IRR)                     ',
       'Israeli New Shekel   (ILS)                     ',
       'Japanese yen   (JPY)                     ',
       'Kazakhstani tenge   (KZT)                     ',
       'Korean won   (KRW)                     ',
       'Kuwaiti dinar   (KWD)                     ',
       'Libyan dinar   (LYD)                     ',
       'Malaysian ringgit   (MYR)                     ',
       'Mauritian rupee   (MUR)                     ',
       'Mexican peso   (MXN)                     ',
       'Nepalese rupee   (NPR)                     ',
       'New Zealand dollar   (NZD)                     ',
       'Norwegian krone   (NOK)                     ',
       'Omani rial   (OMR)                     ',
       'Pakistani rupee   (PKR)                     ',
       'Peruvian sol   (PEN)                     ',
       'Philippine peso   (PHP)                     ',
       'Polish zloty   (PLN)                     ',
       'Qatari riyal   (QAR)                     ',
       'Russian ruble   (RUB)                     ',
       'Saudi Arabian riyal   (SAR)                     ',
       'Singapore dollar   (SGD)                     ',
       'South African rand   (ZAR)                     ',
       'Sri Lankan rupee   (LKR)                     ',
       'Swedish krona   (SEK)                     ',
       'Swiss franc   (CHF)                     ',
       'Thai baht   (THB)                     ',
       'Trinidadian dollar   (TTD)                     ',
       'Tunisian dinar   (TND)                     ',
       'U.A.E. dirham   (AED)                     ',
       'U.K. pound   (GBP)                     ',
       'U.S. dollar   (USD)                     ',
       'Uruguayan peso   (UYU)                     ',
       'Bolivar Soberano   (VES)                     '],
      dtype='object')

In [34]:
new_cols = ['Date']
for name in dt.columns[1:]:
  loc = name.index("(")
  new_cols.append(name[loc + 1:loc + 4])
dt.columns = new_cols
print(dt.columns)

Index(['Date', 'DZD', 'AUD', 'BHD', 'VEF', 'BWP', 'BRL', 'BND', 'CAD', 'CLP',
       'CNY', 'COP', 'CZK', 'DKK', 'EUR', 'HUF', 'ISK', 'INR', 'IDR', 'IRR',
       'ILS', 'JPY', 'KZT', 'KRW', 'KWD', 'LYD', 'MYR', 'MUR', 'MXN', 'NPR',
       'NZD', 'NOK', 'OMR', 'PKR', 'PEN', 'PHP', 'PLN', 'QAR', 'RUB', 'SAR',
       'SGD', 'ZAR', 'LKR', 'SEK', 'CHF', 'THB', 'TTD', 'TND', 'AED', 'GBP',
       'USD', 'UYU', 'VES'],
      dtype='object')

In [35]:
dt["Date"].head(15)

0      3-Jan-12
1      4-Jan-12
2      5-Jan-12
3      6-Jan-12
4      9-Jan-12
5     10-Jan-12
6     11-Jan-12
7     12-Jan-12
8     13-Jan-12
9     17-Jan-12
10    18-Jan-12
11    19-Jan-12
12    20-Jan-12
13    23-Jan-12
14    24-Jan-12
Name: Date, dtype: object

In [36]:
import datetime
new_dates = []
format_str = '%d-%b-%y' # The format
for date_str in dt["Date"]: 
  datetime_obj = datetime.datetime.strptime(date_str, format_str)
  date_obj = datetime.datetime.strptime(date_str, format_str).strftime("%Y-%m-%d")
  new_dates.append(date_obj)
dt["Date"] = new_dates

In [37]:
dt.head(15)

,Date,DZD,AUD,BHD,VEF,BWP,BRL,BND,CAD,CLP,...,SEK,CHF,THB,TTD,TND,AED,GBP,USD,UYU,VES
0,2012-01-03,NaN,0.971440,0.376,NaN,NaN,1.8485,1.2925,1.0090,518.20,...,NaN,0.9334,NaN,NaN,1.4987,3.6725,0.640574,1,19.700,NaN
1,2012-01-04,NaN,0.965904,0.376,4.2893,7.490637,1.8304,1.2874,1.0135,514.34,...,6.8152,0.9384,31.463,6.4062,1.4942,3.6725,0.641190,1,19.689,NaN
2,2012-01-05,NaN,0.968711,0.376,4.2893,7.530120,1.8432,1.2883,1.0197,512.23,...,6.8493,0.9492,31.557,6.3886,1.4951,3.6725,0.644330,1,19.707,NaN
3,2012-01-06,76.3243,0.978378,0.376,4.2893,7.530120,1.8416,1.2923,1.0232,511.80,...,NaN,0.9516,31.637,6.3994,1.5046,3.6725,0.645245,1,NaN,NaN
4,2012-01-09,76.5183,0.983284,0.376,4.2893,7.530120,1.8442,1.2994,1.0272,509.54,...,6.9227,0.9520,31.793,6.3931,1.5145,3.6725,0.647585,1,19.650,NaN
5,2012-01-10,76.3955,0.969838,0.376,4.2893,7.485030,1.8442,1.2912,1.0164,512.40,...,6.9122,0.9498,31.708,6.3881,1.5197,3.6725,0.646747,1,19.593,NaN
6,2012-01-11,76.6448,0.972384,0.376,4.2893,7.524454,1.8042,1.2925,1.0192,508.76,...,6.8987,0.9549,31.730,6.4038,1.5169,3.6725,0.649899,1,19.562,NaN
7,2012-01-12,76.4878,0.971251,0.376,4.2893,7.473842,1.8048,1.2928,1.0198,506.91,...,6.9391,0.9488,31.833,6.4188,1.5242,3.6725,0.651423,1,19.587,NaN
8,2012-01-13,76.4950,0.968992,0.376,4.2893,7.473842,1.7874,1.2882,1.0245,501.47,...,6.9137,0.9467,31.775,6.4233,1.5274,3.6725,0.652401,1,19.600,NaN
9,2012-01-17,76.6668,0.963670,0.376,4.2893,7.462687,1.7836,1.2862,1.0132,500.99,...,6.9329,0.9470,31.834,6.3729,1.5333,3.6725,0.650533,1,NaN,NaN
10,2012-01-18,76.5907,0.961538,0.376,4.2893,7.462687,1.7760,1.2820,1.0140,496.68,...,6.9153,0.9444,31.791,6.4010,1.5270,3.6725,0.650618,1,19.531,NaN
11,2012-01-19,76.4492,0.962001,0.376,4.2893,7.396450,1.7791,1.2777,1.0095,497.05,...,6.8430,0.9361,31.724,6.4032,1.5262,3.6725,0.647668,1,19.531,NaN
12,2012-01-20,76.4601,0.961446,0.376,4.2893,7.418398,1.7648,1.2736,1.0143,491.93,...,6.7768,0.9359,31.543,6.3986,1.5191,3.6725,0.646580,1,19.562,NaN
13,2012-01-23,76.2026,0.953289,0.376,4.2893,7.390983,1.7670,NaN,1.0080,491.59,...,6.7830,0.9283,31.504,6.4035,1.5186,3.6725,0.642343,1,19.574,NaN
14,2012-01-24,76.3295,0.952925,0.376,4.2893,7.429421,1.7528,NaN,1.0097,487.87,...,6.7464,0.9277,31.433,6.3819,1.5130,3.6725,0.642550,1,19.680,NaN

In [38]:
dt.to_csv('data2.csv', index = False)
from google.colab import files
files.download("data2.csv")

In [17]:
df = dt
df.head(15)

,Date,DZD,AUD,BHD,VEF,BWP,BRL,BND,CAD,CLP,...,SEK,CHF,THB,TTD,TND,AED,GBP,USD,UYU,VES
0,2012-01-03,NaN,0.971440,0.376,NaN,NaN,1.8485,1.2925,1.0090,518.20,...,NaN,0.9334,NaN,NaN,1.4987,3.6725,0.640574,1,19.700,NaN
1,2012-01-04,NaN,0.965904,0.376,4.2893,7.490637,1.8304,1.2874,1.0135,514.34,...,6.8152,0.9384,31.463,6.4062,1.4942,3.6725,0.641190,1,19.689,NaN
2,2012-01-05,NaN,0.968711,0.376,4.2893,7.530120,1.8432,1.2883,1.0197,512.23,...,6.8493,0.9492,31.557,6.3886,1.4951,3.6725,0.644330,1,19.707,NaN
3,2012-01-06,76.3243,0.978378,0.376,4.2893,7.530120,1.8416,1.2923,1.0232,511.80,...,NaN,0.9516,31.637,6.3994,1.5046,3.6725,0.645245,1,NaN,NaN
4,2012-01-09,76.5183,0.983284,0.376,4.2893,7.530120,1.8442,1.2994,1.0272,509.54,...,6.9227,0.9520,31.793,6.3931,1.5145,3.6725,0.647585,1,19.650,NaN
5,2012-01-10,76.3955,0.969838,0.376,4.2893,7.485030,1.8442,1.2912,1.0164,512.40,...,6.9122,0.9498,31.708,6.3881,1.5197,3.6725,0.646747,1,19.593,NaN
6,2012-01-11,76.6448,0.972384,0.376,4.2893,7.524454,1.8042,1.2925,1.0192,508.76,...,6.8987,0.9549,31.730,6.4038,1.5169,3.6725,0.649899,1,19.562,NaN
7,2012-01-12,76.4878,0.971251,0.376,4.2893,7.473842,1.8048,1.2928,1.0198,506.91,...,6.9391,0.9488,31.833,6.4188,1.5242,3.6725,0.651423,1,19.587,NaN
8,2012-01-13,76.4950,0.968992,0.376,4.2893,7.473842,1.7874,1.2882,1.0245,501.47,...,6.9137,0.9467,31.775,6.4233,1.5274,3.6725,0.652401,1,19.600,NaN
9,2012-01-17,76.6668,0.963670,0.376,4.2893,7.462687,1.7836,1.2862,1.0132,500.99,...,6.9329,0.9470,31.834,6.3729,1.5333,3.6725,0.650533,1,NaN,NaN
10,2012-01-18,76.5907,0.961538,0.376,4.2893,7.462687,1.7760,1.2820,1.0140,496.68,...,6.9153,0.9444,31.791,6.4010,1.5270,3.6725,0.650618,1,19.531,NaN
11,2012-01-19,76.4492,0.962001,0.376,4.2893,7.396450,1.7791,1.2777,1.0095,497.05,...,6.8430,0.9361,31.724,6.4032,1.5262,3.6725,0.647668,1,19.531,NaN
12,2012-01-20,76.4601,0.961446,0.376,4.2893,7.418398,1.7648,1.2736,1.0143,491.93,...,6.7768,0.9359,31.543,6.3986,1.5191,3.6725,0.646580,1,19.562,NaN
13,2012-01-23,76.2026,0.953289,0.376,4.2893,7.390983,1.7670,NaN,1.0080,491.59,...,6.7830,0.9283,31.504,6.4035,1.5186,3.6725,0.642343,1,19.574,NaN
14,2012-01-24,76.3295,0.952925,0.376,4.2893,7.429421,1.7528,NaN,1.0097,487.87,...,6.7464,0.9277,31.433,6.3819,1.5130,3.6725,0.642550,1,19.680,NaN

In [18]:
df.fillna(method='ffill',inplace = True)

In [19]:
df.head(5)

,Date,DZD,AUD,BHD,VEF,BWP,BRL,BND,CAD,CLP,...,SEK,CHF,THB,TTD,TND,AED,GBP,USD,UYU,VES
0,2012-01-03,NaN,0.971440,0.376,NaN,NaN,1.8485,1.2925,1.0090,518.20,...,NaN,0.9334,NaN,NaN,1.4987,3.6725,0.640574,1,19.700,NaN
1,2012-01-04,NaN,0.965904,0.376,4.2893,7.490637,1.8304,1.2874,1.0135,514.34,...,6.8152,0.9384,31.463,6.4062,1.4942,3.6725,0.641190,1,19.689,NaN
2,2012-01-05,NaN,0.968711,0.376,4.2893,7.530120,1.8432,1.2883,1.0197,512.23,...,6.8493,0.9492,31.557,6.3886,1.4951,3.6725,0.644330,1,19.707,NaN
3,2012-01-06,76.3243,0.978378,0.376,4.2893,7.530120,1.8416,1.2923,1.0232,511.80,...,6.8493,0.9516,31.637,6.3994,1.5046,3.6725,0.645245,1,19.707,NaN
4,2012-01-09,76.5183,0.983284,0.376,4.2893,7.530120,1.8442,1.2994,1.0272,509.54,...,6.9227,0.9520,31.793,6.3931,1.5145,3.6725,0.647585,1,19.650,NaN

In [20]:
df.fillna(method = "bfill",inplace = True)

In [21]:
df.head(5)

,Date,DZD,AUD,BHD,VEF,BWP,BRL,BND,CAD,CLP,...,SEK,CHF,THB,TTD,TND,AED,GBP,USD,UYU,VES
0,2012-01-03,76.3243,0.971440,0.376,4.2893,7.490637,1.8485,1.2925,1.0090,518.20,...,6.8152,0.9334,31.463,6.4062,1.4987,3.6725,0.640574,1,19.700,3690.9495
1,2012-01-04,76.3243,0.965904,0.376,4.2893,7.490637,1.8304,1.2874,1.0135,514.34,...,6.8152,0.9384,31.463,6.4062,1.4942,3.6725,0.641190,1,19.689,3690.9495
2,2012-01-05,76.3243,0.968711,0.376,4.2893,7.530120,1.8432,1.2883,1.0197,512.23,...,6.8493,0.9492,31.557,6.3886,1.4951,3.6725,0.644330,1,19.707,3690.9495
3,2012-01-06,76.3243,0.978378,0.376,4.2893,7.530120,1.8416,1.2923,1.0232,511.80,...,6.8493,0.9516,31.637,6.3994,1.5046,3.6725,0.645245,1,19.707,3690.9495
4,2012-01-09,76.5183,0.983284,0.376,4.2893,7.530120,1.8442,1.2994,1.0272,509.54,...,6.9227,0.9520,31.793,6.3931,1.5145,3.6725,0.647585,1,19.650,3690.9495

In [22]:
df.isnull().sum(axis = 0)

Date    0
DZD     0
AUD     0
BHD     0
VEF     0
BWP     0
BRL     0
BND     0
CAD     0
CLP     0
CNY     0
COP     0
CZK     0
DKK     0
EUR     0
HUF     0
ISK     0
INR     0
IDR     0
IRR     0
ILS     0
JPY     0
KZT     0
KRW     0
KWD     0
LYD     0
MYR     0
MUR     0
MXN     0
NPR     0
NZD     0
NOK     0
OMR     0
PKR     0
PEN     0
PHP     0
PLN     0
QAR     0
RUB     0
SAR     0
SGD     0
ZAR     0
LKR     0
SEK     0
CHF     0
THB     0
TTD     0
TND     0
AED     0
GBP     0
USD     0
UYU     0
VES     0
dtype: int64

In [23]:
df.to_csv('data.csv', index = False)
from google.colab import files
files.download("data.csv")